<a href="https://colab.research.google.com/github/Morfinic/data-science-bootcamp/blob/main/02_analiza_danych/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# **Podstawowe struktury danych pd.Series**

In [3]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name="sample")
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [6]:
import numpy as np

s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name="sample")
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [7]:
s = pd.Series(data=[True, False, True])
s

0     True
1    False
2     True
dtype: bool

In [19]:
s = pd.Series(data=np.arange(start=10, stop=20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [22]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [23]:
s.dtypes

dtype('int64')

In [24]:
s = pd.Series(data=["python", "java", "sql"], name="langs")
s

0    python
1      java
2       sql
Name: langs, dtype: object

In [25]:
type(s)

pandas.core.series.Series

In [26]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [28]:
s.dtypes

dtype('O')

In [29]:
s.shape

(3,)

In [45]:
price = pd.Series(data={"Apple": 200, "CD Projekt": 60, "Amazon": 1900, "KGHM": np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [46]:
price["CD Projekt"]

60.0

In [47]:
price[1]

60.0

In [48]:
price.count()

3

In [49]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [50]:
price.sum()

2160.0

In [41]:
price.min()

60

In [42]:
price.max()

1900

In [51]:
price.std()

1024.3046421841502

In [52]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [53]:
price.nlargest()

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
dtype: float64

In [54]:
price.nsmallest()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
dtype: float64

In [56]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [57]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [58]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [59]:
price_pln = price.apply(lambda x: x * 3.8)
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

# **Data Frame**

In [61]:
df = pd.DataFrame(data=[12, 12, 12])
df

    0
0  12
1  12
2  12

In [62]:
df = pd.DataFrame(data=[12, 12, 12], index=["first", "second", "third"], columns=["col_1"])
df

        col_1
first      12
second     12
third      12

In [64]:
df = pd.DataFrame(data={"WIG20": ["PKN ORLEN", "PKO BP"],
                     "mWIG20": ["Amica", "Playway"]})
df

       WIG20   mWIG20
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [87]:
df = pd.DataFrame(data=[[1, 2, 3], [4, 5, 6]], index=["first", "second"], columns=["col_1", "col_2", "col_3"])
df

        col_1  col_2  col_3
first       1      2      3
second      4      5      6

In [66]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [67]:
df.index

Index(['first', 'second'], dtype='object')

In [68]:
df.values

array([[1, 2, 3],
       [4, 5, 6]])

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [70]:
df.describe()

         col_1    col_2    col_3
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000

In [71]:
df.describe().T

       count  mean      std  min   25%  50%   75%  max
col_1    2.0   2.5  2.12132  1.0  1.75  2.5  3.25  4.0
col_2    2.0   3.5  2.12132  2.0  2.75  3.5  4.25  5.0
col_3    2.0   4.5  2.12132  3.0  3.75  4.5  5.25  6.0

# **Selekcja kolumn**

In [72]:
df

        col_1  col_2  col_3
first       1      2      3
second      4      5      6

In [73]:
df["col_1"]

first     1
second    4
Name: col_1, dtype: int64

In [74]:
df["col_2"]["first"]

2

In [75]:
type(df["col_1"])

pandas.core.series.Series

In [77]:
df[["col_1"]]

        col_1
first       1
second      4

In [88]:
df.columns = ['a', 'sprzedaz_grudzien', 'c']
df

        a  sprzedaz_grudzien  c
first   1                  2  3
second  4                  5  6

In [89]:
df.sprzedaz_grudzien

first     2
second    5
Name: sprzedaz_grudzien, dtype: int64

In [90]:
df['d'] = df.a + df.c
df

        a  sprzedaz_grudzien  c   d
first   1                  2  3   4
second  4                  5  6  10

In [91]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 13, 10]], index=["first", "second"], columns=["col_1", "col_2", "col_3"])
df

        col_1  col_2  col_3
first      10     12     13
second     23     13     10

In [92]:
df.loc["first"]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [95]:
df.loc["first", "col_2"]

12

In [96]:
df.loc[:, "col_2"]

first     12
second    13
Name: col_2, dtype: int64

In [94]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [97]:
df.iloc[0, 1]

12

In [98]:
df.iloc[:, 1]

first     12
second    13
Name: col_2, dtype: int64