<a href="https://colab.research.google.com/github/Morfinic/data-science-bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Wczytywanie danych**

In [15]:
import pandas as pd

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [3]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 817 entries, 2022-08-05 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    817 non-null    float64
 1   High    817 non-null    float64
 2   Low     817 non-null    float64
 3   Close   817 non-null    float64
 4   Volume  817 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 38.3 KB

In [4]:
apple.head()

               Open    High     Low   Close    Volume
Date
2022-08-05  163.210  165.85  163.00  165.35  56696985
2022-08-04  166.005  167.19  164.43  165.81  55474144
2022-08-03  160.840  166.59  160.75  166.13  82507488
2022-08-02  160.100  162.41  159.63  160.01  59907025
2022-08-01  161.010  163.59  160.89  161.51  67829379

# **Preprocessing**

In [5]:
apple.columns = ["apple_" + col.lower() for col in apple.columns]
amazon.columns = ["amazon_" + col.lower() for col in amazon.columns]
google.columns = ["google_" + col.lower() for col in google.columns]
uber.columns = ["uber_" + col.lower() for col in uber.columns]

In [13]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2022-08-05     163.210      165.85     163.00       165.35      56696985
2022-08-04     166.005      167.19     164.43       165.81      55474144
2022-08-03     160.840      166.59     160.75       166.13      82507488
2022-08-02     160.100      162.41     159.63       160.01      59907025
2022-08-01     161.010      163.59     160.89       161.51      67829379

# **Konkatenacja danych**

In [18]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)

In [19]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,817.000000,817.000000,817.000000,817.000000,8.170000e+02
mean,88.104807,89.150220,87.120320,88.184167,1.217665e+08,115.209581,116.545404,113.736937,115.158253,8.638249e+07,81.614808,82.488393,80.738212,81.639938,3.532036e+07,38.607422,39.392632,37.724212,38.555141,2.572815e+07
std,46.342384,46.950676,45.749497,46.380674,5.656804e+07,39.775499,40.252810,39.236486,39.704084,4.099782e+07,31.780225,32.098035,31.396322,31.745483,1.601958e+07,9.848267,9.913702,9.714794,9.791748,1.709143e+07
min,34.849000,35.266000,34.368000,34.414000,4.111250e+07,47.000000,47.431500,46.587500,46.930000,1.762674e+07,45.997500,46.412500,45.930000,46.043500,9.312760e+06,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,45.488750,45.892250,45.106500,45.427250,8.434297e+07,85.336125,86.271750,84.355250,85.339500,5.881648e+07,56.312875,56.965250,55.707250,56.349000,2.519154e+07,31.420000,32.360000,30.750000,31.500000,1.540292e+07
50%,68.932500,69.909500,68.451000,69.262500,1.072421e+08,98.662750,99.808250,97.745250,98.767000,7.478215e+07,66.656750,67.447250,65.941500,66.924250,3.143471e+07,36.820000,37.560000,36.120000,36.810000,2.178659e+07
75%,132.075000,133.355000,130.412500,131.802500,1.420290e+08,158.328500,159.931000,156.225000,158.093500,1.022881e+08,111.229500,112.818500,109.788250,111.488000,4.015796e+07,45.360000,46.500000,44.610000,45.510000,3.147839e+07
max,182.130000,182.440000,178.630000,181.510000,4.333866e+08,187.200000,188.654000,184.840000,186.570000,3.310520e+08,151.250000,151.547000,148.899000,149.838000,1.331771e+08,63.250000,64.050000,60.800000,63.180000,1.863225e+08

In [22]:
pd.set_option("display.float_format", lambda x: f"{x:.2f}")

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.00,88.10,46.34,34.85,45.49,68.93,132.08,182.13
apple_high,1258.00,89.15,46.95,35.27,45.89,69.91,133.36,182.44
apple_low,1258.00,87.12,45.75,34.37,45.11,68.45,130.41,178.63
apple_close,1258.00,88.18,46.38,34.41,45.43,69.26,131.80,181.51
apple_volume,1258.00,121766458.33,56568043.32,41112502.00,84342972.00,107242149.50,142028981.00,433386623.00
amazon_open,1258.00,115.21,39.78,47.00,85.34,98.66,158.33,187.20
amazon_high,1258.00,116.55,40.25,47.43,86.27,99.81,159.93,188.65
amazon_low,1258.00,113.74,39.24,46.59,84.36,97.75,156.22,184.84
amazon_close,1258.00,115.16,39.70,46.93,85.34,98.77,158.09,186.57
amazon_volume,1258.00,86382486.16,40997824.26,17626740.00,58816475.00,74782150.00,102288060.00,331051960.00
google_open,1258.00,81.61,31.78,46.00,56.31,66.66,111.23,151.25
google_high,1258.00,82.49,32.10,46.41,56.97,67.45,112.82,151.55
google_low,1258.00,80.74,31.40,45.93,55.71,65.94,109.79,148.90
google_close,1258.00,81.64,31.75,46.04,56.35,66.92,111.49,149.84
google_volume,1258.00,35320361.44,16019577.98,9312760.00,25191535.00,31434710.00,40157965.00,133177100.00
uber_open,817.00,38.61,9.85,15.96,31.42,36.82,45.36,63.25
uber_high,817.00,39.39,9.91,17.80,32.36,37.56,46.50,64.05
uber_low,817.00,37.72,9.71,13.71,30.75,36.12,44.61,60.80
uber_close,817.00,38.56,9.79,14.82,31.50,36.81,45.51,63.18
uber_volume,817.00,25728154.94,17091434.94,3380003.00,15402925.00,21786591.00,31478392.00,186322536.00

In [23]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.29,0.89,0.89,0.88,0.89,-0.21,0.95,0.95,0.95,0.95,-0.08,0.21,0.22,0.21,0.21,0.13
apple_high,1.00,1.00,1.00,1.00,-0.28,0.89,0.89,0.88,0.89,-0.21,0.95,0.95,0.95,0.95,-0.07,0.20,0.21,0.20,0.21,0.13
apple_low,1.00,1.00,1.00,1.00,-0.30,0.89,0.89,0.88,0.89,-0.22,0.95,0.95,0.95,0.95,-0.08,0.21,0.22,0.21,0.21,0.12
apple_close,1.00,1.00,1.00,1.00,-0.29,0.89,0.89,0.88,0.89,-0.21,0.95,0.95,0.95,0.95,-0.08,0.21,0.21,0.21,0.21,0.13
apple_volume,-0.29,-0.28,-0.30,-0.29,1.00,-0.21,-0.21,-0.22,-0.22,0.57,-0.36,-0.36,-0.37,-0.36,0.50,-0.28,-0.27,-0.30,-0.28,0.24
amazon_open,0.89,0.89,0.89,0.89,-0.21,1.00,1.00,1.00,1.00,-0.17,0.84,0.84,0.84,0.84,-0.09,0.55,0.55,0.55,0.55,-0.06
amazon_high,0.89,0.89,0.89,0.89,-0.21,1.00,1.00,1.00,1.00,-0.15,0.84,0.84,0.84,0.84,-0.08,0.54,0.54,0.54,0.54,-0.05
amazon_low,0.88,0.88,0.88,0.88,-0.22,1.00,1.00,1.00,1.00,-0.18,0.84,0.84,0.84,0.84,-0.10,0.56,0.56,0.56,0.56,-0.07
amazon_close,0.89,0.89,0.89,0.89,-0.22,1.00,1.00,1.00,1.00,-0.17,0.84,0.84,0.84,0.84,-0.09,0.55,0.55,0.55,0.55,-0.06
amazon_volume,-0.21,-0.21,-0.22,-0.21,0.57,-0.17,-0.15,-0.18,-0.17,1.00,-0.25,-0.24,-0.25,-0.25,0.60,-0.23,-0.22,-0.25,-0.24,0.24
google_open,0.95,0.95,0.95,0.95,-0.36,0.84,0.84,0.84,0.84,-0.25,1.00,1.00,1.00,1.00,-0.11,0.27,0.27,0.27,0.27,0.10
google_high,0.95,0.95,0.95,0.95,-0.36,0.84,0.84,0.84,0.84,-0.24,1.00,1.00,1.00,1.00,-0.11,0.26,0.27,0.26,0.26,0.11
google_low,0.95,0.95,0.95,0.95,-0.37,0.84,0.84,0.84,0.84,-0.25,1.00,1.00,1.00,1.00,-0.13,0.28,0.28,0.28,0.27,0.10
google_close,0.95,0.95,0.95,0.95,-0.36,0.84,0.84,0.84,0.84,-0.25,1.00,1.00,1.00,1.00,-0.12,0.27,0.27,0.27,0.27,0.10
google_volume,-0.08,-0.07,-0.08,-0.08,0.50,-0.09,-0.08,-0.10,-0.09,0.60,-0.11,-0.11,-0.13,-0.12,1.00,-0.22,-0.20,-0.23,-0.22,0.26
uber_open,0.21,0.20,0.21,0.21,-0.28,0.55,0.54,0.56,0.55,-0.23,0.27,0.26,0.28,0.27,-0.22,1.00,1.00,1.00,0.99,-0.26
uber_high,0.22,0.21,0.22,0.21,-0.27,0.55,0.54,0.56,0.55,-0.22,0.27,0.27,0.28,0.27,-0.20,1.00,1.00,1.00,1.00,-0.24
uber_low,0.21,0.20,0.21,0.21,-0.30,0.55,0.54,0.56,0.55,-0.25,0.27,0.26,0.28,0.27,-0.23,1.00,1.00,1.00,1.00,-0.28
uber_close,0.21,0.21,0.21,0.21,-0.28,0.55,0.54,0.56,0.55,-0.24,0.27,0.26,0.27,0.27,-0.22,0.99,1.00,1.00,1.00,-0.26
uber_volume,0.13,0.13,0.12,0.13,0.24,-0.06,-0.05,-0.07,-0.06,0.24,0.10,0.11,0.10,0.10,0.26,-0.26,-0.24,-0.28,-0.26,1.00

In [26]:
closes = [col for col in df.columns if col.endswith("close") or col.endswith("volume")]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [27]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.29,0.89,-0.21,0.95,-0.08,0.21,0.13
apple_volume,-0.29,1.00,-0.22,0.57,-0.36,0.50,-0.28,0.24
amazon_close,0.89,-0.22,1.00,-0.17,0.84,-0.09,0.55,-0.06
amazon_volume,-0.21,0.57,-0.17,1.00,-0.25,0.60,-0.24,0.24
google_close,0.95,-0.36,0.84,-0.25,1.00,-0.12,0.27,0.10
google_volume,-0.08,0.50,-0.09,0.60,-0.12,1.00,-0.22,0.26
uber_close,0.21,-0.28,0.55,-0.24,0.27,-0.22,1.00,-0.26
uber_volume,0.13,0.24,-0.06,0.24,0.10,0.26,-0.26,1.00

# **Metoda append()**

In [28]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-08-05      31.20      32.63     31.04       32.01     39963623
2022-08-04      29.78      32.23     29.60       31.85     55573597
2022-08-03      29.72      31.43     29.36       30.19     62061199
2022-08-02      28.49      29.43     27.10       29.25    107926256
2022-08-01      23.43      24.62     22.89       24.60     46960678

In [31]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [32]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [33]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]